#header{
    background-color: #fff !important;
    color: #ff0000 !important;
    box-shadow: 0px 0px 3px 0px #ff0000;
}

#header a:link, #header a:visited {
    color: #000 !important;
}

div.breadcrumbs{
    background-color: rgb(48, 14, 14) !important;
}

.module h2, .module caption, .inline-group h2 {
 background-color: rgb(48, 13, 13) !important;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button{
    background-color: rgb(48, 13, 13) !important;
}

a:link, a:visited{
    color: #fff !important;
}